@import '~antd/dist/antd.css';
@import '~react-tree-graph/dist/style.css';



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Times New Roman","Helvetica Neue", "Helvetica"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1.2em;
}

#StudentProfileTable {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;

}

#StudentProfileTableTr {
  font-size: 0.9em;
  text-align: center;
}

#StudentProfileTableTh {
  font-size: 0.9em;
  text-align:center;
}

#StudentProfileTableTd {
  font-size: 0.9em; 
  /* 16px ==> 12pt */
  text-align:center;
}

#StudentProfilePage{
  width:100%;
  margin:0;
  float:none;
  font: 13pt Georgia, "Times New Roman", Times, serif;
}

line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}